*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(89, 89, 198);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 120px;
    width: 120px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

img:hover{
    cursor: pointer;
    height: 105px;
    width: 105px;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#computer-score{
    font-size:4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(17, 107, 121);
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}
